<nav class="nav">
    <div class="navbar__logo"><a class="navbar__nav-link navbar__nav-link--logo" href="/">Property Management App</a></div>
    <div class="navbar__menu">
        <a class="navbar__nav-link" href="/properties">Properties</a>
        <a class="navbar__nav-link" href="/bookings">Bookings</a>
        <a class="navbar__nav-link" href="/customers">Customers</a>
        <a class="navbar__nav-link" href="/invoices">Invoices</a>
    </div>
</nav>