{{!-- Booking id --}}
<h1>Booking:</h1>
<table border="1">
    <tbody>
        <tr>
            <td>ID</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Property</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Customers</td>
            <td>customer list link</td>
        </tr>
        <tr>
            <td>Start Date</td>
            <td>12-2-2021</td>
        </tr>
        <tr>
            <td>End Date</td>
            <td>12-5-2021</td>
        </tr>
        <tr>
            <td>Created At</td>
            <td>3-1-2021</td>
        </tr>
        <tr>
            <td>Edit</td>
            <td></td>
        </tr>
        <tr>
            <td>Delete</td>
            <td></td>
        </tr>
    </tbody>
</table>