{{!-- Booking id --}}
<header>
    <h1>Wonderwave 12-2-2021 - 12-5-2021</h1>
</header>
<section>
    <table border="1">
        <tbody>
            <tr>
                <td>ID</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Property</td>
                <td>Wonderwave</td>
            </tr>
            <tr>
                <td>Customers</td>
                <td>
                    <p><a href="/customers/1">Jon Doe</a></p>
                    <p><a href="#">Jane Doe</a></p>
                </td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>12-2-2021</td>
            </tr>
            <tr>
                <td>End Date</td>
                <td>12-5-2021</td>
            </tr>
            <tr>
                <td>Created At</td>
                <td>3-1-2021</td>
            </tr>
            <tr>
                <td>Edit</td>
                <td></td>
            </tr>
            <tr>
                <td>Delete</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</section>