<h1>Bookings Page</h1>
<table border="1">
    <thead>
        <th>ID</th>
        <th>Property</th>
        <th>Customers</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Created At</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
</table>