{{!-- Booking id --}}
<h1>Booking: {{ bookingId }}</h1>
<table border="1">
    <tbody>
        <tr>
            <td>ID</td>
            <td></td>
        </tr>
        <tr>
            <td>Property</td>
            <td></td>
        </tr>
        <tr>
            <td>Customers</td>
            <td></td>
        </tr>
        <tr>
            <td>Start Date</td>
            <td></td>
        </tr>
        <tr>
            <td>End Date</td>
            <td></td>
        </tr>
        <tr>
            <td>Created At</td>
            <td></td>
        </tr>
        <tr>
            <td>Edit</td>
            <td></td>
        </tr>
        <tr>
            <td>Delete</td>
            <td></td>
        </tr>
    </tbody>
</table>