<header>
    <h1>Bookings Page</h1>
</header>
<section>
    <table border="1">
        <thead>
            <th>ID</th>
            <th>Property</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Created At</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="/properties/1">WonderWave</a></td>
                <td>12-2-2021</td>
                <td>12-5-2021</td>
                <td>3-1-2021</td>
                <td><a href="/bookings/edit/1">Edit</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>IceWorm</td>
                <td>1-23-2022</td>
                <td>1-25-2022</td>
                <td>4-5-2021</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Oxbow</td>
                <td>7-12-2021</td>
                <td>7-19-2021</td>
                <td>11-4-2020</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </tbody>
    </table>
</section>