<h1>Customer: {{ first_name }} {{ last_name }}</h1>
<table border="1">
    <tbody>
        <tr>
            <td>Name</td>
            <td></td>
        </tr>
        <tr>
            <td>Email</td>
            <td></td>
        </tr>
        <tr>
            <td>Created At</td>
            <td></td>
        </tr>
        <tr>
            <td>Bookings</td>
            <td></td>
        </tr>
        <tr>
            <td>Edit</td>
            <td></td>
        </tr>
        <tr>
            <td>Delete</td>
            <td></td>
        </tr>
    </tbody>
</table>