<h1>Customers Page</h1>
<table border="1">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Bookings</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
</table>