<header>
    <h1>Customer:</h1>
</header>
<section>
    <table border="1">
        <tbody>
            <tr>
                <td>First Name</td>
                <td>John</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>Doe</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>jdoe@yo.com</td>
            </tr>
            <tr>
                <td>Created At</td>
                <td>12-13-2019</td>
            </tr>
            <tr>
                <td>Booking</td>
                <td>booking list link</td>
            </tr>
            <tr>
                <td>Edit</td>
                <td></td>
            </tr>
            <tr>
                <td>Delete</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</section>