<header>
    <h1>Edit Customer</h1>
</header>
<section>
    {{> "customerForms/editCustomerForm" this }}
</section>
<script src="/javascript/modules/entityUpdater.js"></script>
<script src="/javascript/editCustomer.js"></script>