{{!-- Couldn't find a better booking identifier - have to use base id --}}
<header>
    <h1>Edit Booking {{ start_date }}</h1>
</header>
<section>
    <div class="add-booking__search-forms">
        {{> "propertySearch/propertySearch" }}
        {{> "customerSearch/customerSearch" }}
    </div>
    <div>
        {{> "bookingForms/editBookingForm" }}
    </div>
</section>