<header>
    <h1>Edit Invoice</h1>
</header>
<section>
    {{> "invoiceForms/editInvoiceForm" invoice }}
</section>
<script src="/javascript/modules/entityUpdater.js"></script>
<script src="/javascript/editInvoice.js"></script>