<h1>Invoices Page</h1>
<table border="1">
    <thead>
        <th>ID</th>
        <th>Booking</th>
        <th>Amount Paid</th>
        <th>Total Due</th>
        <th>Created At</th>
        <th>Edit</th>
    </thead>
</table>