<header>
    <h1>Invoices Page</h1>
</header>
<section>
    <table border="1">
        <thead>
            <th>ID</th>
            <th>Booking</th>
            <th>Total Due</th>
            <th>Amount Paid</th>
            <th>Created At</th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="/bookings/1">View</a></td>
                <td>200</td>
                <td>150</td>
                <td>3-1-2021</td>
                <td><a href="/invoices/edit/1">Edit</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>3</td>
                <td>150</td>
                <td>150</td>
                <td>11-4-2020</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>3</td>
                <td>2</td>
                <td>200</td>
                <td>100</td>
                <td>4-5-2021</td>
                <td>Edit</td>
            </tr>
        </tbody>
    </table>
</section>