<h1>Invoice: {{ invoiceId }}</h1>
<table border="1">
    <tbody>
        <tr>
            <td>ID</td>
            <td></td>
        </tr>
        <tr>
            <td>Booking</td>
            <td></td>
        </tr>
        <tr>
            <td>Amount Paid</td>
            <td></td>
        </tr>
        <tr>
            <td>Total Due</td>
            <td></td>
        </tr>
        <tr>
            <td>Created At</td>
            <td></td>
        </tr>
        <tr>
            <td>Edit</td>
            <td></td>
        </tr>
    </tbody>
</table>