<header>
    <h1>Invoice:</h1>
</header>
<section>
    <table border="1">
        <tbody>
            <tr>
                <td>ID</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Booking</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Amount Paid</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Total Due</td>
                <td>150</td>
            </tr>
            <tr>
                <td>Created At</td>
                <td>3-1-2021</td>
            </tr>
            <tr>
                <td>Edit</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</section>