<header>
    <h1>Property:</h1>
</header>
<section>
    <table border="1">
        <tbody>
            <tr>
                <td>ID</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Building Name</td>
                <td>WonderWave</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>123 Go Fishing Way</td>
            </tr>
            <tr>
                <td>Rate</td>
                <td>150</td>
            </tr>
            <tr>
                <td>Max Occupancy</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Created At</td>
                <td>10-23-2020</td>
            </tr>
            <tr>
                <td>Edit</td>
                <td></td>
            </tr>
            <tr>
                <td>Delete</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</section>