<h1>Property: {{ propertyName }}</h1>
<table border="1">
    <tbody>
        <tr>
            <td>ID</td>
            <td></td>
        </tr>
        <tr>
            <td>Building Name</td>
            <td></td>
        </tr>
        <tr>
            <td>Address</td>
            <td></td>
        </tr>
        <tr>
            <td>Rate</td>
            <td></td>
        </tr>
        <tr>
            <td>Max Occupancy</td>
            <td></td>
        </tr>
        <tr>
            <td>Created At</td>
            <td></td>
        </tr>
        <tr>
            <td>Edit</td>
            <td></td>
        </tr>
        <tr>
            <td>Delete</td>
            <td></td>
        </tr>
    </tbody>
</table>