<h1>Properties Page</h1>
<table border="1">
    <thead>
        <th>ID</th>
        <th>Building Name</th>
        <th>Address</th>
        <th>Rate</th>
        <th>Max Occupancy</th>
        <th>Created At</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
</table>