<h1>Properties Page</h1>
<table border="1">
    <thead>
        <th>ID</th>
        <th>Building Name</th>
        <th>Address</th>
        <th>Rate</th>
        <th>Max Occupancy</th>
        <th>Created At</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>WonderWave</td>
            <td>123 Go Fishing Way</td>
            <td>150</td>
            <td>5</td>
            <td>10-23-2020</td>
        </tr>
        <tr>
            <td>2</td>
            <td>IceWorm</td>
            <td>123 Rafting St</td>
            <td>200</td>
            <td>4</td>
            <td>1-13-2021</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Oxbow</td>
            <td>123 Flights Ave</td>
            <td>300</td>
            <td>8</td>
            <td>2-2-2021</td>
        </tr>
    </tbody>
</table>