* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin-top: 6em;
}

.nav {
  position: fixed;
  top: 0;
  background: #fff;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  padding: 0 5%;
  color: #000;
  z-index: 100;
  border-bottom: 1px solid #eee;
}

.navbar__logo {
  font-size: 2rem;
  cursor: default;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__nav-link {
  margin-left: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
}

.navbar__nav-link--logo {
  font-size: 1.75rem;
  margin-left: 0;
}

.navbar__nav-link--logo:hover {
  text-decoration: none;
}

.table-controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.4rem;
}

.btn--small {
  font-size: 1rem;
  padding: 0.8rem;
}

.btn--link {
  background-color: var(--color);
  border: 2px solid var(--color);
  color: var(--color-bg);
  border-radius: var(--border-radius);
}

.btn--link:hover {
  text-decoration: none;
}

.current-property,
.current-customers {
  margin-bottom: 1rem;
}

.property-search {
  margin-bottom: 5rem;
}

.add-booking__search-forms {
  margin-right: 5rem;
}
