<div id="current-customers" class="current-customers">
  <table>
    <tbody>
      <tr>
        <td><input type="hidden" value="1" /></td>
        <td>John Doe</td>
        <td><a href="#">jdoe@yo.com</a></td>
        <td><a href="#">Remove</a></td>
      </tr>
      <tr>
        <td><input type="hidden" value="2" /></td>
        <td>Jane Doe</td>
        <td><a href="#">jane@do.com</a></td>
        <td><a href="#">Remove</a></td>
      </tr>
    </tbody>
  </table>
</div>