<div id="current-customers" class="current-customers">
  <input type="hidden" id="current-property-max-occupancy" value="0" />
  <table>
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </thead>

    <tbody>
      
    </tbody>
  </table>
</div>