<div>
    <h3>Current Customers</h3>
    <table>
        <tbody>
            <tr>
                <td>John Doe</td>
                <td><a href="#">jdoe@yo.com</a></td>
                <td><a href="#">Remove</a></td>
            </tr>
        </tbody>
    </table>
</div>