<div>
    <h3>Customer Search Results</h3>
    <table>
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td>John Doe</td>
                <td>jdoe@yo.com</td>
                <td><a href="#">Add</a></td>
            </tr>
            <tr>
                <td>John Doe</td>
                <td>johnd@hello.com</td>
                <td><a href="#">Add</a></td>
            </tr>
        </tbody>
    </table>
</div>