<div class="customer-search">
    <h3>2. Select customers</h3>
    <h4>Current customers:</h4>
    {{> customerSearch/currentCustomers this.customers }}
    {{> customerSearch/customerSearchForm }}
    {{> customerSearch/customerResults }}
</div>