<form id="customer-search-form">
    <div>
        <label for="customer-search">Search for a customer</label>
        <input type="text" name="customer-search" id="customer-search">
    </div>
    <button>Search</button>
</form>