<div>
    <h3>3. Edit booking details</h3>
</div>
<form id="edit-booking">
    <input type="hidden" value="{{ this.booking.id }}" id="booking-id">
    {{> bookingForms/bookingFields this.booking }}
</form>