<div class="current-property" id="current-property">
  <table>
    <tbody>
      <tr>
        <td><input type="hidden" value="1" /></td>
        <td>WonderWave</td>
        <td><a href="#">View</a></td>
        <td><a href="#">Remove</a></td>
      </tr>
    </tbody>
  </table>
</div>