<div class="current-property" id="current-property">
  <table>
    <thead>
      <th>Building Name</th>
      <th>Max Occupancy</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      {{#if this}}
        <td style="display: none"><input type="hidden" name="" value="{{this.id}}"></td>
        <td>{{this.building_name}}</td>
        <td>{{this.max_occupancy}}</td>
      {{/if}}
    </tbody>
  </table>
</div>