<div>
    <h3>Current Property</h3>
    <table>
        <tbody>
            <tr>
                <td>WonderWave</td>
                <td><a href="#">View</a></td>
                <td><a href="#">Remove</a></td>
            </tr>
        </tbody>
    </table>
</div>