<div class="current-property" id="current-property">
  <table>
    <thead>
      <th>Building Name</th>
      <th>Max Occupancy</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <td>None</td>
    </tbody>
  </table>
</div>