<div class="property-search">
    <h3>1. Select a property</h3>
    <h4>Current property:</h4>
    {{> propertySearch/currentProperty this.property }}
    {{> propertySearch/propertySearchForm }}
    {{> propertySearch/propertyResults }}
</div>