<div id="property-results">
  <h3>Property Search Results</h3>
  <table>
    <thead>
      <th>Building Name</th>
      <th>Max Occupancy</th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>WonderWave</td>
        <td><a href="#">View</a></td>
        <td><a href="#">Add</a></td>
      </tr>
    </tbody>
  </table>
</div>