<form>
    <div>
        <label for="property-search">Search for a property</label>
        <input type="text" name="property-search" id="property-search">
    </div>
    <button>Search</button>
</form>