<input type="hidden" id="invoice_id" value={{id}}>
<div>
    <label for="total_due">Total Due</label>
    <input type="number" id="total_due" name="total_due" {{#if total_due}}value={{total_due}}{{/if}}>
</div>
<div>
    <label for="amount_paid">Amount Paid</label>
    <input type="number" id="amount_paid" name="amount_paid" {{#if amount_paid}}value={{amount_paid}}{{/if}}>
</div>
<button>Submit</button>