<div>
    <label for="total_due">Total Due</label>
    <input type="number" id="total_due" name="total_due" {{#if totalDue}}value={{totalDue}}{{/if}}>
</div>
<div>
    <label for="amount_paid">Amount Paid</label>
    <input type="number" id="amount_paid" name="amount_paid" {{#if amountPaid}}value={{amountPaid}}{{/if}}>
</div>
<button>Submit</button>